<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Page Title</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <!-- Include Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <!-- Include your custom styles -->
  <link href="/styles.css" rel="stylesheet">
</head>
<body>
  <!-- Your content here -->
  <!-- Display Games -->
  <div class="row" id="gameGrid">
    <% 
      const columnClass = games.length > 3 ? 'col-md-4' : `col-md-${12 / games.length}`;
      games.forEach(game => { 
    %>
      <div class="<%= columnClass %>">
        <div class="card game-card">
          <img src="/<%= game.image.path %>?v=<%= new Date().getTime() %>" alt="<%= game.image.description %>" class="card-img-top game-image img-fluid">
          <div class="card-body">
            <h5 class="card-title"><a href="/game/<%= game._id %>"><%= game.name %></a></h5>
          </div>
        </div>
      </div>
    <% }); %>
  </div>

  <!-- Include Bootstrap JS (Optional) -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
